:root{
   --bg-grey:#d9dbd4; 
   --bg-green:#009688;
}

header{
    width: 100%;
    height: 10vh;
    background-color: #009688;
}

main{
    width: 100%;
    height: 90vh;
    background-color: var(--bg-grey);
}


.c92Wrapper{
    width: 100%;
    height: 100vh;
}
.webApp{
    width: 90%;
    height: 80vh;
    position: relative;
    top: -70px;
}
.c92ContainerContacts{
    width: 40%;
    height: 100%;
}

.c92ContainerChat{
    width: 60%;
    height: 100%;
}

.debug{
    border: 1px solid black;
}

.c92Profile{
    overflow: hidden;
}

.c92Avatar{
    width: 100%;
}

.c92Sent{
    text-align: end;
}
.c92Received{
    text-align: left;
}