<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <title>Boolzapp</title>
</head>
<body>

    <div id="app" class="c92Wrapper">
        <header></header>
        <main>
            <div class="container-fluid d-flex justify-content-center align-items-center">

                <div class="d-flex align-content-center webApp debug">

                    <div class="c92ContainerContacts debug">

                        <div class="debug">1</div>

                        <div class="c92Notify">Notifica</div>

                        <div class="c92SearchChat">
                            <input type="text" placeholder="search">
                        </div>

                        <div class="c92ContactList">
                                    <div class="row flex-row" v-for="(contact, i) in contacts" :key="contact.id" @click="selectedContact= contact">
                                        <div class="c92Profile col-3">
                                            <img class="c92Avatar" :src="contact.avatar.replace('.png', '.jpg' )" alt="">
                                        </div>
                                        
                                        <div class="col"> {{contact.name}} </div>

                                        <div class="col-2">12:00</div>
                                    </div>
                        </div>

                    </div>
        
                    <div  v-if="selectedContact != null" class="c92ContainerChat debug">

                        <div class="c92ContactHeader">

                            <div class="row flex-row">
                                <div class="c92Profile col-3">
                                    <img class="c92Avatar" :src="selectedContact.avatar.replace('.png', '.jpg' )" alt="">
                                </div>
                                <div class="col"> {{selectedContact.name}}</div>

                                <div class="col-2">12:00</div>
                            </div>
                        
                        </div>

                        <div class="c92Chat">
                            <div class="" v-for="(message, i) in selectedContact.messages" :key="i" >
                                <div class=""> {{message.message}} </div>
                            </div>
                        </div>

                        <div class="c92InputMessage">
                            <input type="text" placeholder="send message">
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script/script.js"></script>
</body>
</html>